<%- include('error_header') -%>
<h2>Server Error</h2>
<% if (settings['verbose errors']) { %>
  <p>Error details: <%= error.message %></p>
  <pre><%= error.stack %></pre>
<% } else { %>
  <p>An error occurred! Please try again later or contact support.</p>
<% } %>
<%- include('footer') -%>